<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SerialViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SerialViewer.Properties.Settings>
            <setting name="SVLocation" serializeAs="String">
                <value>0, 17</value>
            </setting>
            <setting name="cbReplaceCtrlChar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbTextBoxWrap" serializeAs="String">
                <value>True</value>
            </setting>
        </SerialViewer.Properties.Settings>
    </userSettings>
</configuration>